/*
em - от текущего шоифта
% - от родительской ширины
rem - от размера шрифта стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Shadows Into Light", cursive;
}

/* Видео для заднего фона */
#video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  background: url(img/bg_poster.png) no-repeat #384657;
  background-size: cover;
}

#video-bg>video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

@supports (object-fit: cover) {
  #video-bg>video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* 
Игра 
*/
.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 10vmin;
  margin-top: inherit;
  margin-bottom: inherit;
  color: #ffcc00;
  text-shadow: 0.5vmin 0.5vmin #0066cc;
}

/*MUSIC*/
#soundBtn {
  background: url(img/mute_sound.png)
}

#sound img {
  height: 8vmin;
  cursor: pointer;
}


.score {
  color: #0066cc;
  margin-top: 0%;
  font-size: 5vmin;
  text-shadow: none;
}

#startBtn {
  margin-top: 5vmin;
  background: #ffcc00;
  color: #0066cc;
  font-size: 4vmin;
  font-weight: bold;
  cursor: pointer;
  width: 20vmin;
  border-radius: 1.5vmin;
  text-align: center;
  box-shadow: 1vmin 1vmin 2vmin #0066cc;
  transition: transform 0.15s;
  padding: 1vmin;
  border: 0.2vmin #0066cc;
  border-style: groove;
}

#startBtn:hover {
  border-style: outset;
  color: #ffcc00;
  background: #0066cc;
  box-shadow: 1vmin 1vmin 2vmin #ffcc00;
  padding: 1vmin;
  border: 0.2vmin #0066cc;
  border-style: groove;
}

#startBtn:active {
  transform: translate(1vmin, 1vmin);
  box-shadow: 0.2vmin 0.2vmin 2vmin #ffcc00;
}

.game {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url(img/crosshair.png) 64 64, auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(img/hata1.png) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 23vh;
  /* определяет размер дома*/
  position: absolute;
  z-index: 2;
  bottom: -2vh;
  /* смещение дома вниз*/
}

.mole {
  background: url(img/ork1.png) bottom center no-repeat;
  background-size: 27vh;
  /* определяет размер врага */
  position: absolute;
  top: 100%;
  /* скрытое положение врага от верха родителя (100% - верх ниже на высоту родителя) */
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  cursor: url(img/crosshair_red.png) 64 64, auto;
}

.hole.up .mole {
  top: -5vh;
  /* величина всплытия врага относит верха родителя*/
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

.boom {
  background: url(img/boom.png) no-repeat;
  background-size: 100%;
  position: absolute;
  width: 46vh;
  /* 400px картинка в пикселях переведена в vh для h 857px */
  height: 30vh;
  /* 258px картинка в пикселях переведена в vh для h 857px */
  z-index: 10;
  opacity: 0;
  animation: ani 1.5s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}